* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #FFF;
}

.container {
    width: 1140px;
    margin: auto;
}

/* hero-area-start  */
.hero-area {
    padding: 50px 0;
}

.display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col-half {
    width: 50%;
}

.hero-area .hero-content h2 {
    font-size: 50px;
    font-weight: 700;
    color: #212529;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.hero-area .hero-content h2 span {
    color: #5869DA;
}

.hero-area .hero-content p {
    font-size: 18px;
    font-weight: 500;
    color: #687385;
}

.hero-area .hero-img {
    width: 50%;
}

.hero-area .hero-img img {
    display: inline-block;
    width: 100%;
}

.contact-btn {
    margin-top: 35px;
}

.contact-btn a {
    display: inline-block;
    background: linear-gradient(to bottom right, #ff0000 -26%, #ff99cc 93%);
    padding: 12px 50px;
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 36px;
}

/* hero-area-end   */

/* about-area-start  */

.about-area {
    padding: 50px 0;
    background: url(img/about-bg.png) left top no-repeat;
    background-size: cover;
}

.about-img {
    text-align: center;
}

.about-img img {
    display: inline-block;
    width: 400px
}

.about-content h2 {
    color: #242526;
    font-size: 45px;
    font-weight: 700;
}

.about-content h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-content h3 span {
    display: inline-block;
    color: #E65F78;
}

.about-area .contact-btn a {
    background-image: linear-gradient(to left bottom, #5590e9, #00aef5, #00c2cc, #00cd7d, #96cd19);
}

/* about-area-end   */

/* recipies-area-start  */

.recipies-area {
    padding: 50px 0;
}

.recipies-header {
    text-align: center;
}

.recipies-header h2 {
    font-size: 32px;
    font-weight: 600;
    color: #242526;
    margin-bottom: 10px;
}

.recipies-item {
    width: 33.33%;
    margin: 0 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
}

.recipies-item img {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
}

.recipies-content {
    margin-top: 30px;
}


.recipies-item .text {
    padding-top: 20px;
}

.recipies-item .text h4 {
    font-size: 18px;
    font-weight: 700;
    color: #242526;
    text-transform: capitalize;
    margin-bottom: 10px;
}

/* recipies-area-end   */


/* social-area-start  */
.social-area {
    padding: 50px 0;

    padding-bottom: 70px;
}

.social-area .display-flex {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px 0;
}

.social-item {
    width: 33.33%;
    padding: 0 100px;
}

.social-item h2 {
    font-size: 32px;
    font-weight: 600;
}

/* social-area-end   */



/* contact-area-start  */


.contact-form {
    margin-right: 30px;
}

.contact-form .input-item {
    margin-bottom: 20px;
}

.contact-form .input-item input,
.contact-form .input-item textarea {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    resize: none;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
}

.contact-form h4 {
    font-size: 28px;
    font-weight: 700;
    color: #242526;
    margin-bottom: 12px;
}

.contact-form p {
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-area .submit-btn  {
    margin-top: 30px;
}

.contact-area .submit-btn button {
    display: inline-block;
    outline: none;
    background: #FC6E3C;
    color: #FFF;
    font-weight: 700;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

/* contact-area-end   */

/* subscribe-area-start  */
.subscribe-area {
    padding: 50px 0;
    background: #5A55AB;
    margin-top: 50px;
}

.subscribe-content {
    text-align: center;
    background: #231D34;
    width: 700px;
    margin: auto;
    padding: 50px 0;    
    border-radius: 36px;
}

.subscribe-content  h4 {
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
}

.subscribe-content  img {
    display: inline-block;
    width:200px;
}

.subscribe-content p {
    color: #d2d2d2;
}


.subscribe-input {
    width: 70%;
    margin: auto;
    border-radius: 36px; 
    margin-top: 25px;
    position: relative;
   
}

.subscribe-input  input {
    display: inline-block;
    width: 100%;
    outline: none;
    border: none;
    background: #1B162A;
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 50px; 
    border-radius: 36px;   
}

.subscribe-input  button {
    display: inline-block;
    outline: none;
    border: none;
    color: #FFF;
    background: #634EEE;
    padding: 12px 50px;
    border-radius: 36px;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}


/* subscribe-area-end   */

/* footer-area-start  */
.footer-area {
    background: #0B0E17;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer-content .img {
    text-align: center;
}

.footer-content .img img {
    display: inline-block;
    width: 350px;
}

.footer-content p {
    color: #FFF;
}

/* footer-area-end   */